INNER_USER_API_PORT=80
OUTER_USER_API_PORT=8081
# do not forget! user.api.db - container name
USER_API_DB_DSN=postgres://user_api:password@user.api.db:5432/api?sslmode=disable

USER_API_DB_PORT=5432
USER_API_DB_USER=user_api
USER_API_DB_PASSWORD=password
USER_API_DB_NAME=api
